body {
    margin: 0px;
    padding: 0px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 171px;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 480px;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    border-color: rgba(0, 0, 0, 0.1);
}

input:hover {
    border-style: hidden;
    border-radius: 20px;
    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.1);
}

.headnav {
    display: flex;
    justify-content: end;
}

.Gmail, .Images, .Apps, .Profile {
    margin: 10px;
    font-size: 12px;
}

.footnav {
    display: grid;
    position: absolute;
    width: 100%;
    bottom: 0px;
    background-color: rgba(224, 224, 224, 0.397);
    grid-template-columns: repeat(3, auto) 1fr repeat(3, auto);
}

.Country, .Advertising, .Business, .About, .Search, .Privacy, .Terms, .Settings {
    text-align: left;
    font-size: 14px;
    padding: 10px;
    margin: 5px;
    color: rgb(121, 121, 121);
}

.Country {
    grid-column: span 8;
}